/*Fuentes*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic);
/*Fin de fuentes*/
*::selection{
	background: rgba(26, 188, 156,1.0);
}
a{
	text-decoration: none;
}
article{
	text-align: center;
	padding: 1em;
	margin: .3em;
	background: white;
	max-width: 300px;
}
article img{
	height: 278px;
	width: 100%;
}
body{
	background: rgb(236, 240, 241) ;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
footer, nav{
	color: white;
	background: rgb(52, 152, 219);
}
footer a{
	color: white;
}
footer{
	text-align: center;
	font-size: .7em;
	padding: 1em;
	text-transform: uppercase;
}
html{
	height: 100%;
}
li{
	list-style: none;
}
nav{
	display: flex;
	top: 0;
	width: 100%;
	position: fixed;
	justify-content: space-around;
	padding: 1.4em;
	font-family: 'Carrois Gothic', sans-serif;
}
nav a{
	color: white;
}
ul{
	margin: 0;
}
.article-header{
	border-bottom: .1em solid #ECECEC;
	padding: .8em;
	font-size: .7em;
	display: flex;
	justify-content: space-around;
}
.article-header span:nth-child(2){
	padding-left: .5em;
}
.badge{
	color: white;
	padding: .1em .5em;
	margin: 0;
}
.badges{
	display: flex;
	justify-content: flex-end;
}
.bg-primary{
	background: #5fcf80;
	border-bottom: .2em solid #2FB556;
}
.bg-success{
	background: #CA38CA;
	border-bottom: .2em solid #800080;
}
.bg-default{
	background: #20b2aa;
	border-bottom: .2em solid #038079;
}
.btn{
	padding: .4em;
	color: white;
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;
}
.btn-bg{
	font-size: 1.4em;
	font-weight: 700;
	border-radius: 1px;
	padding: .7em 1.5em;
	text-transform: uppercase;
	border-bottom: 5px rgba(243, 156, 18,1.0) solid;
}
.btn-default{
	border:2px solid #2FB556;
	background: #5fcf80;
}
.btn-warning{
	background: rgba(241, 196, 15,1.0);
	color: white;
}
.description{
	text-align: left;
	font-size: .8em;
	display: flex;
	flex-direction: column;
}
.description .btn{
	width: 6em;
}
.content{
	display: flex;
	flex-direction: column;
	margin: 0 4em;
}
/* Icons */
.fa-diamond{
}
.fa-star{
	color: #5fcf80;
}
.fa-thumbs-up{
	color: #3399ff;
	font-size: 1.3em;
}
/* End Icons */
.home{
	//background: rgb(41, 128, 185);
	background-image: url('../img/bg2.png');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	text-align: center;
	color: white;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.home div{
	
}
.nav-link a{
	margin: 0 .7em;
	/* border: 2px solid white; */
	border-radius: 5px;
	padding: .5em .5em;
	text-transform: uppercase;
	font-size: .9em;
}
.section{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.title{
	font-weight: 700;
	font-size: 3em;
	text-transform: uppercase;
}
.title-article{
	font-weight: 700;
}