
<figure class="text-center">
	<img src="public/img/LOGISTICA.jpg" alt="" width="200" height="110" class="circle">
	<img  width="" src="public/img/LOGISTICA2.jpg" alt="" width="200" height="110">
</figure>
  <h2 class="center">ESPECIALIDAD TÉCNICO EN LOGÍSTICA</h2>
 <strong><h3>OBJETIVO:</h3></strong>
 <p class="text-justify">Formar personas competentes y capaces de realizar actividades dirigidas a la administración de bienes, planificando los suministros destinados al almacenamiento de manera manual y electrónica, la organización de nodos logísticos para el transporte de mercancías así como,  proveer los servicios y atención al cliente sobre los movimientos y los costos de la cadena logística.</p>
	
   <strong><h3>CAMPO DE TRABAJO:</h3></strong>
    <p class="text-justify">Permite al técnico incorporarse al ámbito laboral en diversos sitios de inserción como: Servicios de intermediación para el transporte de carga, almacenes generales de depósitos y otros servicios de almacenamientos general, servicios de agencias aduanales, servicios de mensajería y paqueterías foráneas y otros servicios intermediarios para el transporte de carga</p>



