<figure class="text-center">
	<img src="public/img/SOPORTE.jpg" alt="" width="200" height="110" class="circle">
	<img  width="" src="public/img/mantenimiento.jpg" alt="" width="200" height="110">
</figure>
  <h2 class="center">ESPECIALIDAD TÉCNICO EN SOPORTE Y MANTENIMIENTO DE EQUIPO DE CÓMPUTO</h2>

 <strong><h3>OBJETIVO:</h3></strong>
<p class="text-justify">Formar personas competentes y capaces de realizar operaciones de soporte y mantenimiento  a equipos de cómputo de manera presencial y a distancia , tomando  como base las especificaciones del fabricante e instalar redes LAN de acuerdo a las necesidades de las organizaciónes. Conserva los elementos de cómputo como portátiles, impresoras y equipo de escritorio tanto en la parte física como en programas instalados para permitir a los usuarios elaborar su trabajo en condiciones adecuadas.</p>
<strong><h3>CAMPO DE TRABAJO:</h3></strong>
<p class="text-justify">Ofrecer servicios y atención a los futuros clientes, realizando el ensamble y  mantenimiento de equipo de cómputo y sistemas operativos.</p>
</body>
</html>
