<div class="row">
				<div class="col-md22"></div>
</div>
<div class="vertical-centered-text">
  <img src="public/img/noticia.jpg" />
</div>
<div class="col-md22"></div>
<a href="#/principal" class="btn btn-success">Inicio</a>
<a href="#/academicos" class="btn btn-success">Académicos</a>
<a href="#/vinculacion" class="btn btn-success">Vinculación</a>
<a href="#/generales" class="btn btn-success">Generales</a>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
    <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/mision.jpg" width="272" height="204" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <h3>Noticias Académicas</h3>
        <p>Santiago Tuxtla,Ver.,20 de Febrero del 2015.Se realizo este cambio de noticias</p>
        <a href="#/academicos">
        <button class="btn btn-danger">Leer más</button>  
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/reformaeducativa.jpg" width="272" height="204" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <h3>Noticias Vinculación</h3>
        <p>Santiago Tuxtla,Ver.,21 de Febrero del 2015.Se realizo este cambio de noticias</p>
        <a href="#/vinculacion">
        <button class="btn btn-danger">Leer más</button>  
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/CBTIS2.jpg" width="272" height="204" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <h3>Noticias Generales</h3>
        <p>Santiago Tuxtla,Ver.,22 de Febrero del 2015.Se realizo este cambio de noticias</p>
        <a href="#/generales">
        <button class="btn btn-danger">Leer más</button>  
        </a>
    </div>
  </div>
</div>