<figure class="text-center">
	<img src="public/img/ReformaE.jpg" alt="" width="200" height="110" class="circle">
	<img  width="" src="public/img/ReformaE2.jpg" alt="" width="200" height="110">
 <h2>REFORMA EDUCATIVA</h2>	
  	<p class="text-justify">Con el propósito de contar con la información necesaria respecto de la Reforma Educativa, la Dirección del Plantel y la Representación de la SEMS, pone a disposición de la Comunidad Tecnológica del CBTis 251, así como padres de familia y público en general, el documento de Aspectos Relevantes de la Reforma Educativa 2013.</p>
   
   <a href="http://www.mediafire.com/view/bvm8vtjyedyzb4w/aspectos_relevantes_reforma_educativa_2013.pdf">
	<button class="btn btn-danger">Descargar Reforma Educativa</button>	
</a>

</div>
</body>
</html>
