<figure class="text-center">
	<img src="public/img/riems.jpg" alt="" width="200" height="110" class="circle">
	<img  width="" src="public/img/reformaeducativa.jpg" alt="" width="200" height="110">
 
 <h2>REFORMA INTEGRAL DE LA EDUCACION MEDIA SUPERIOR</h2>

	<p class="text-justify">La RIEMS tiene la intención de contribuir a la resolución de los principales problemas de la educación media superior de nuestro país, así como responder a las demandas de la dinámica mundial. Entre los problemas internos que afectan a la educación, podemos destacar baja cobertura y eficiencia terminal, altos índices de reprobación y deserción, así como bajos niveles educativos. Así, del grupo de edad de entre 16 y 18 años, sólo 58% de los jóvenes recibe educación media superior; de ellos, sólo 60% logra concluir sus estudios.</p>

<a href="http://www.mediafire.com/view/c754iou6cteh3b0/reforma_integral_educacion_media_superior_riems.pdf">
	<button class="btn btn-danger">Descargar Reforma Integral</button>	
</a>
 	
</div>
</body>
</html>