<figure class="text-center">
	<img src="public/img/calendarioDGETI.jpg" alt="" width="200" height="110" class="circle">
	<img  width="" src="public/img/calendariosep.jpg" alt="" width="200" height="110">
<section>
 <h2 class="text-center">CALENDARIO DGETI Y SEP 2014-2015</h2>
 <p class="text-justify">Atencion a toda la comunidad que conforma el CBtis 251:
Acontinuación encontrarán el link o loga donde podrán consultar el Calendario de Actividades Escolares de la DGETI correspondiente al ciclo escolar 2014 - 2015, en formato PDF</p>

<a href="http://www.mediafire.com/view/g88s587538cpxza/Calendario_DGETI_2014-2015.jpg">
<button class="btn btn-danger">Descargar Calendario DEGTI</button>
 <a href="http://www.mediafire.com/view/lbe8ul20u1lko38/calendario_escolar2014_2015.jpg">
<button class="btn btn-danger">Descargar Calendario SEP</button>
</div>
</body>
</html>
