<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/9.jpg" width="272" height="204" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <p class="text-justify">Esta imagen se puede apreciar el avance en la construcción del edificio. Para este momento, se prepara la construcción de las aulas de cerramiento.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/10.jpg" width="272" height="150" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <p class="text-justify">Aspectos que muestran la construcción de la losa del edificio, lo que constituye un avance considerable para el término de esta primera etapa de construcción del CBTis 251.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/11.jpg" width="272" height="204" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <p class="text-justify">Evento deportivo y cultural realizado en la plaza cívica de la Esc.Sec.Tec.Ind. Nº 80, con la participación de los alumnos de la primera generación..</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/12.jpg" width="280" height="217" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
      <P>Entrega de regalos al Personal Administrativo y de Servicios, bonificación de fin de año.<BR>
        <p class="text-justify"></p>
      </div>
    </div>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group">
  <a href="#/galeriadefotos" class="btn btn-default">1</a>
    <a href="#/galeriadefotos2" class="btn btn-default">2</a>
    <a href="#galeriadefotos3" class="btn btn-default">3</a>
  </div>
