<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/5.jpg" width="272" height="350" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <p class="text-justify"> En este evento, que se llevó a cabo el 2 de mayo de 1993, se dieron  cita las siguientes personalidades:
        Lic. Gustavo Carvajal Moreno, diputado federal por el estado de Veracruz, Ing. Gabriel Mario Mendoza García, Coordinador estatal zona 30, Dr. Raúl Leopoldo Díaz González, Director del CBTis Nº 251, personal docente, administrativo y de servicios, así como padres de familia.
</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/6.jpg" width="272" height="150" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <p class="text-justify">Aspectos que muestran el inicio de la construcción del edificio “C”, donde se establecerían 7 aulas didácticas y 2 sanitarios.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/7.jpg" width="272" height="400" 
    style="position:absolute; left:1px; top:9px;" alt="" />
      <div class="caption">
        <p class="text-justify">Avance de obra del CBTis 251. Construcción de columnas de concreto.</p>
      </div>
    </div>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group">
    <a href="#/galeriadefotos" class="btn btn-default">1</a>
    <a href="#/galeriadefotos2" class="btn btn-default">2</a>
    <a href="#galeriadefotos3" class="btn btn-default">3</a>
  </div>