<h2 class="text-center">GALERIA DE FOTOS DE LA PRIMERA PIEDRA DEL PLANTEL</h2>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/1.jpg" width="272" height="204" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <p class="text-justify">Homenaje a la bandera realizada en las instalaciones de la Escuela Secundaria Técnica Industrial N°80, instalaciones cedidas por espacio de dos años, para la impartición de clases a los alumnos del CBTis N° 251.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/2.jpg" width="272" height="150" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <p class="text-justify">En esta fotografía se aprecia un aula de la Esc.Sec.Tec.Ind. 80, donde los alumnos tomando clases mientras se construye el edificio del CBTis N° 251.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/4.jpg" width="272" height="204" 
    style="position:absolute; left:1px; top:5px;" alt="" />
      <div class="caption">
        <p class="text-justify">Palabras del  C. Ing. Gabriel Mario Mendoza García, Coordinador Estatal de ETI en el estado de Veracruz, dirigiéndose al C. Lic. Gustavo Carvajal Moreno, diputado federal por el estado de Veracruz, el día en que se realizó la PUESTA DE LA PRIMERA PIEDRA. 2 de mayo de 1993.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-12">
    <div class="thumbnail">
     <div style="position:relative; padding-left:280px; overflow:hidden; ">
    <img src="public/img/5.jpg" width="240" height="200" 
    style="position:absolute; left:1px; top:3px;" alt="" />
      <div class="caption">
        <p class="text-justify">Momento en que el C. Dr. Raúl Leopoldo Díaz González, (quien fungía como presidente municipal en ese periodo) expresa un mensaje con motivo de la PUESTA DE PIEDRA.</p>
      </div>
    </div>
  </div>
</div>
<div class="btn-toolbar">
  <div class="btn-group">
      <a href="#/galeriadefotos" class="btn btn-default">1</a>
    <a href="#/galeriadefotos2" class="btn btn-default">2</a>
    <a href="#galeriadefotos3" class="btn btn-default">3</a>
  </div>