
<figure class="text-center">
	<img src="public/img/HISTORIACBTIS.jpg" alt="" width="200" height="110" class="circle">
	<img  width="" src="public/img/HISTORIACBTIS2.jpg" alt="" width="200" height="110">
</figure>
<aside></aside>
<h2  class="text-center">HISTORIA DEL PLANTEL</h2>
<p class="text-justify">Limita con los municipios de El Mesón (Hoy Ángel Rafael Cabada, sus límites los señala el rio Tecolapan), Saltabarranca, Tlacotalpan, Tesechoacan, San Andrés Zacoalco (Hoy Andrés Tuxtla), y el Golfo de México por el norte. Situada en la Sierra de los Tuxtlas. Su principal eminencia es el Volcán Titepetl o San Martin, cuya altura es de 1764 mts. Sobre el nivel del mar. El cerro de El Vigía o Tuxtantepec y otros menores.</p>
<strong><h3>Sus ríos principales son:</h3></strong>
<p class="text-justify">Tepango (que corre cerca del muro de piedra), Zapoapan, Tatocapan, etc. Su clima es cálido, húmedo y lluvioso .Su temperatura media es de 28º C. llueve casi todo el año a excepción de los meses de Abril, Mayo y Agosto. SANTIAGO TUXTLA, VER., Municipio y cabecera del mismo nombre enclavada en la región de los Tuxtlas, tiene una superficie de 621.84 KM2.</p>

<a href="http://www.mediafire.com/view/6413ajpipcv92j8/INTRODUCCIÓN_AL_PLANTEL.pdf">
	<button class="btn btn-danger">Leer más</button>	
</a>


</div>

</div>
</body>
</html>
